/* Base styles */
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
    color: #333;
    background-color: #847b59;
    margin: 0;
    padding: 20px;
}

#page {
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Typography */
h1, h2, h3, h4 {
    color: #72503a;
    margin-top: 1em;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid #72503a;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: : 0em;

}

h3 {
    color: #72503a;

    line-height: 1;
  margin-bottom: 0;
}
h4 {
    color: #72503a;
    line-height: 1;
    margin-bottom: .5em;
    scroll-margin-bottom: :  0;}
p {
    color: #424242;
    margin-top: 0em;
    margin-bottom: 1em;
}

/* Links */
a {
    color: #600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #000;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

/* Navigation */
nav {
    background-color: #5B3E2C;
    border-bottom: 2px solid #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 0;
}

nav a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
}

nav a:hover {
    background-color: #72503A;
    text-decoration: none;
}

/* Main content */
main {
    padding: 20px;
}

/* Wedding selections list */

ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

li {
    margin-bottom: 0.25em;
    margin-left: 0;
}

#content-main.tina {
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

#content-main.tina p {
    margin-bottom: 1.5rem;
}

#content-main.tina a {
    color: #007bff;
    text-decoration: none;
}

#content-main.tina a:hover {
    text-decoration: underline;
}

#content-main.tina img.floatleft {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: auto;
}

/* Testimonials */
blockquote {
    font-style: italic;
    font-size: 1.2em;
    font-color: #a44b11;
    border-left: 3px solid #a44b11;
    padding-left: 1em;
    margin: 1em 0;
}

blockquote footer {
    font-style: normal;
    text-align: right;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: none;
    border-top: 1px solid #e7e7e7;
    font-size: 0.8em;
}

/* Responsive design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 5px;
    }
}